{{- $pageMax := 6 -}}
{{- $after := first (.QueryParam "after") "0" -}}
{{- $replies := .RepliesAfter $after $pageMax -}}
{{- $loadSSE := true -}}

{{- if $replies.NotEmpty -}}

	{{- range $index, $reply := $replies -}}
		{{- $object := $reply.Object -}}
		{{- $url := $object.GetString "url" -}}
		{{- $attributedTo := $object.GetMap "attributedTo" -}}
		{{- $profileURL := $attributedTo.GetString "url" -}}
		{{- $name := $attributedTo.GetString "name" -}}
		{{- $icon := $attributedTo.GetMap "icon" -}}
		{{- $iconURL := $icon.GetString "href" -}}
		{{- $publishedDate := $object.GetTime "published" -}}
		{{- $after = string $publishedDate.Unix -}}

		<div class="bubble flex-row">
			<div>
				<img src="{{$iconURL}}" class="width-32 circle margin-top-xs">
			</div>
			<div class="flex-grow">
				<div class="bold">
					<a href="{{$profileURL}}">{{$name}}</a>
					<span class="text-gray">{{$publishedDate | tinyDate}}</span>
				</div>
				<div>{{$object.GetString "name"}}</div>
				<div>{{$object.GetString "content" | html}}</div>
			</div>
			<div>
				<a href="{{$url}}" target="_blank" class="button text-sm">{{icon "globe"}}</a>
			</div>
		</div>
	{{- end -}}

	{{- if $replies.IsLength $pageMax -}}
		{{- $loadSSE = false -}}
		<div 
			hx-get="/{{.StreamID}}/view-replies-list?after={{$after}}"
			hx-target="this"
			hx-trigger="revealed"
			hx-swap="outerHTML"
			hx-push-url="false">
		</div>
	{{- end -}}

{{- end -}}		

{{- if $loadSSE -}}
	<div
		id="new-replies"
		hx-ext="sse" 
		sse-connect="/{{.StreamID}}/sse/new-replies">

		<div hx-get="/{{.StreamID}}/view-replies-list?after={{$after}}"
			hx-trigger="sse:{{.StreamID}}"
			hx-target="#new-replies" 
			hx-swap="outerHTML scroll:window:bottom" 
			hx-push-url="false">

			{{- if eq "0" $after -}}
				<div>There are no replies to this Placemark</div>
			{{- end -}}
		</div>
	</div>
{{- end -}}