{{- $streamID := .StreamID -}}
<div class="page pos-relative" style="background-color:var(--gray10);">

	<div class="padding-horizontal padding-vertical-sm">
		<a href="/home">&larr; Map</a>
	</div>

	<div class="bubble">
		<div class="md:flex-row">
			<div class="md:width-50% text-lg padding-bottom-lg">
				{{- .ContentHTML -}}
			</div>
			<div class="md:width-50% md:padding-left-lg">
				{{- $attachments := .Attachments -}}
				{{- if $attachments.NotEmpty -}}
					{{- range $index, $attachment := $attachments -}}
						<div hx-get="/{{$streamID}}/view-attachment?attachmentId={{$attachment.ID}}" class="clickable">
							<img src="{{$attachment.URL}}" class="width-100%">
						</div>
					{{- end -}}
				{{- end -}}
			
				{{ template "view-map" . }}
			</div>
		</div>

		{{- if .UserCan "edit" -}}
			<div class="text-xs pos-absolute-top-right">
				<button hx-get="/{{.StreamID}}/edit">Edit</button>
			</div>
		{{- end -}}
	</div>

	<div class="flex-row">
		<div>
			<img src="{{.AttributedTo.IconURL}}" class="width-48 circle">
		</div>
		<div>
			<div class="bold">
				<a href="{{.AttributedTo.ProfileURL}}">{{.AttributedTo.Name}}</a>
			</div>
			<div class="text-gray">{{.PublishDate | tinyDate}}</div>
		</div>
	</div>

	<div 
		hx-get="/{{.StreamID}}/view-replies" 
		hx-trigger="load" 
		hx-target="this" 
		hx-swap="innerHTML" 
		hx-push-url="false">
	</div>

</div>

<style>
	#map {
		width:100%;
		aspect-ratio:1;
		background-color:#eee;
	}

	/* Adapted From: https://codepen.io/JoeHastings/pen/gPrPMo */
	div.bubble {
		position: relative;
		text-align: left;
		margin-bottom: 24px;
		background-color: var(--white);
		border: 1px solid var(--gray30);
		border-radius: calc(var(--rhythm) * 2);
		padding: 16px 32px;
	}

	div.bubble:before,
	div.bubble:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	}

	div.bubble:before {
		left: 24px;
		bottom: -20px;
		border: 10px solid;
		border-color: var(--gray30) transparent transparent var(--gray30);
	}

	div.bubble:after {
		left: 26px;
		bottom: -16px;
		border: 8px solid;
		border-color: var(--white) transparent transparent var(--white);
	}

</style>

<div hx-get="/{.StreamID}" hx-target="main" hx-swap="innerHTML" hx-trigger="refreshPage" hx-push-url="false"></div>