<!DOCTYPE html>
<html>
<head>
	<title>{{.DomainLabel}} - {{.PageTitle}}</title>
	<link rel="webmention" href="/.webmention"/>
	{{ template "includes-head" .}}
</head>

<body hx-target="main" hx-swap="innerHTML transition:true show:window:top" hx-push-url="true" hx-ext="a11y">

	{{- if .IsMobile -}}

		{{- template "navigation-mobile" . -}}
		<main id="main" class="mobile">
			{{- .GetContent -}}
		</main>

	{{- else -}}
	
		{{- template "navigation-desktop" . -}}
		<main id="main" class="desktop">
			{{- .GetContent -}}
		</main>
	{{- end -}}
	
	<aside></aside>

</body>

{{ template "includes-foot" .}}

</html>
