/******************************************
 * PAGE LAYOUT CLASSES
 ******************************************/

* {
	box-sizing: border-box;
}

body {
	background-color: var(--body-background);
	color: var(--text-color);
	margin:0px;

	&.desktop {
		display: flex;
		flex-direction: row;
		padding-top:88px;
		padding-right:var(--rhythm);
	}
}

main {
	display: flex;
	flex-direction:row;
	justify-content: center;
	container-type:inline-size;
	overscroll-behavior: none;
	width:100%;
	min-height: 100%;
}