nav {
	position:fixed;
	left:var(--rhythm);
	right:var(--rhythm);
	z-index:999;

	font-weight:400;
	overflow-x:auto;
	overflow-y:hidden;
	overscroll-behavior: none;

	background-color:var(--white);
	border: solid 1px rgba(127,127,127,0.5);
	border-radius: calc(var(--rhythm) * 2.5);
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	padding:var(--rhythm);
	color: var(--black);

	#nav-search {
		border-radius:calc(var(--rhythm) * 2);
	}

	.desktop & {
		top: var(--rhythm);
	}

	.mobile & {
		bottom: var(--rhythm);
	}
}

.nav-item {
	color:var(--gray90);
	display:block;
	padding: var(--rhythm) calc(var(--rhythm) * 2);
	font-size: calc(var(--rhythm) * 2);
	line-height:1.5em;
	border-radius: calc(var(--rhythm) * 2);
	text-overflow: ellipsis;
	white-space: nowrap;

	&:last-child {
		border:none;
	}

	&:hover {
		background-color: var(--gray20);
	}

	&.selected {
		font-weight:bold;
	}

	&.link {
		color:var(--link-color);
	}
}
